* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

body {
    text-align: center;
}

.navBar {
    background-color: lightgray;
    display: inline-flex;
    flex-direction: row;
    align-items: left;
    position: fixed;
    height: 8%;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: 2px solid black;
}

.sectionTop {
    margin-top: 12%;
}

a {
    text-decoration: none;
}

a:active {
    color: lightseagreen;
}

a:hover {
    text-decoration: underline;
}

.navLink {
    text-align: center;
    padding-top: 15px;
    width: 33%;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
}

h3 {
    text-decoration: underline;
}

#portfolioProject {
    font-size: 20px;
    text-decoration: none;
    margin-top: 1%;
}

main {
    margin-left: 1%;
    margin-right: 1%;
}

p {
    text-align: left;
    padding: 1% 10%;
}

.hero {
    height: 55vh;
    padding: 12% 0;
    text-align: center;
}

#selfPhoto {
    height: 40vh;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    border: 2px ridge #ddd;
}

#aboutMeText {
    height: 45vh;
}

#portfolio {
    height: 100vh;
}

.projectFrame {
    position: relative;
    background-color: mediumaquamarine;
    height: 60vh;
    width: 80%;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
}

.projectLink {
    margin-right: 2%;
}

iframe {
    height: 100%;
    width: 100%;
}

#contactMe {
        height: 95vh;
}

.mainBody {
    min-height: 200px;
    padding: 6% 0;
    background-color: #d9e2e3;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

#contactHeader {
    margin-top: 14%;
}

.contactText {
    margin-top: 7%;
}

.contactLink {
    display: inline-flex;
    flex-direction: column;
    padding: 3%;
    font-size: 24px;
}

.contactIcon {
    height: 7vh;
    width: auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding: 1% 0;
    background-color: lightgray;
    height: 5vh;
    margin-right: 1%;
    margin-left: 1%;
}

.footerText {
    margin-right: 3%;
    vertical-align: auto;
    text-align: right;
    padding: 0;
}

section:nth-child(even) {
    background-color: #ddd;
}

/*MEDIA QUERY BELOW*/

@media (min-width: 800px) {
.navBar {
    background-color: lightgray;
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    position: fixed;
    height: 100vh;
    width: 15%;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    justify-content: center;
    border-bottom: none;
}

.link {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px; 
}

.navLink {
    margin-left: 18%;
    margin-top: 6%;
    margin-bottom: 6%;
    text-align: left;
    align-items: left;
}

main {
    padding-left: 15% 
}

.sectionTop {
    margin-top: 0;
}

header {
    padding: 0;
}

.hero {
    padding: 3%;
}

.mainBody {
    min-height: 200px;
    padding: 4% 0;
    background-color: #d9e2e3;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.projectFrame {
    position: relative;
    background-color: mediumaquamarine;
    height: 60vh;
    width: 40%;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
}

#contactHeader {
    margin-top: 0;
}

.contactText {
    margin-top: 3%;
}

footer {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 11%;
    margin-right: 1%;
    background-color: lightgray;
}

}
